#matchCard {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  vertical-align: middle;
  color: #fff;
}

#matchListItem {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#deleteMatchesBtn {
  margin: 10px;
}
