:host ::ng-deep .ngx-datatable .datatable-body .datatable-scroll {
  display: inherit;
}

ngx-datatable {
  margin: 15px;
  max-width: 500px;
}

.score {
  display: flex;
}
.teams {
  display: flex;
  flex-direction: column;
}
.square {
  margin: 5px;
  height: 25px;
  width: 25px;
  border: 1px solid grey;
}

.score .selected {
  align-self: center;
  margin-top: 6px;
}

@media screen and (max-width: 800px) {
  #games {
    width: 100%;
  }
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .mobile-hidden {
    display: initial;
  }
}
