<!-- <button
  *ngIf="!showButton"
  style="float: right; margin: 10px"
  class="hover-color"
  mat-raised-button
  color="accent"
>
  Download als PDF
</button> -->
<ng-container *ngIf="this.matches.length > 0">
  <ngx-datatable
    class="material"
    [rows]="this.matches"
    [groupRowsBy]="'blockNumber'"
    [columnMode]="'flex'"
    rowHeight="auto"
    [groupExpansionDefault]="true"
  >
    <!-- Group Header Template -->
    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader>
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div style="padding-left: 5px">
          <a
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Group"
          >
            <b>Block: {{ group.value[0].blockNumber }}</b>
          </a>
        </div>
      </ng-template>
    </ngx-datatable-group-header>

    <ngx-datatable-column name="Games" prop="games">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        let-group="group"
      >
        {{ value[0] }}
        <br />
        {{ value[1] }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ng-container>
