<!-- <div class="panel panel-default row">
  <div class="col-sm-4"></div>
  <div class="panel-body col-sm-4">
    <ul class="list-group" *ngFor="let match of matches; index as i">
      <li style="list-style-type: none" *ngIf="i % 2 == 0">
        <a> Block {{ (i + 2) / 2 }} </a>
        <img />
      </li>
      <li class="list-group-item" style="text-align: center">
        {{ match[0].name | titlecase }}
        <span class="badge badge-danger badge-pill">VS</span>
        {{ match[1].name | titlecase }}
      </li>
    </ul>
  </div>
</div> -->

<button
  *ngIf="!showButton"
  style="float: right; margin: 10px"
  class="hover-color"
  mat-raised-button
  color="accent"
  (click)="pdf.saveAs('Spielplan.pdf')"
>
  Download als PDF
</button>

<kendo-pdf-export #pdf paperSize="A4" [scale]="0.445">
  <div id="contentToConvert" class="mt-5">
    <div id="matchCard" *ngIf="responseMatches.length > 0; else smallMatch">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        <ng-container *ngFor="let match of responseMatches; index as i; trackBy: trackByFn">
          <div class="col" *ngIf="i % 2 == 0; else rightSide">
            <div
              class="row no-gutters border rounded overflow-hidden flex-md-row shadow-sm mb-2 position-relative"
              style="height: 160px"
            >
              <div class="col p-3 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Block {{ i + 1 }}</strong>
                <p class="card-text mb-auto text-xs-center text-xl-left">
                  {{ match[0].name | titlecase }}

                  <span class="badge badge-info">VS</span>

                  {{ match[1].name | titlecase }}
                </p>
                <br />
                <p class="card-text mb-auto text-xs-center text-xl-left">
                  {{ match[2].name | titlecase }}

                  <span class="badge badge-info">VS</span>

                  {{ match[3].name | titlecase }}
                </p>
              </div>
            </div>
          </div>

          <ng-template #rightSide>
            <div class="col">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm position-relative"
                style="height: 160px"
              >
                <div class="col p-3 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">Block {{ i + 1 }}</strong>
                  <p class="card-text mb-auto text-xs-center text-xl-left">
                    {{ match[0].name | titlecase }}

                    <span class="badge badge-info">VS</span>

                    {{ match[1].name | titlecase }}
                  </p>
                  <br />
                  <p class="card-text mb-auto text-xs-center text-xl-left">
                    {{ match[2].name | titlecase }}

                    <span class="badge badge-info">VS</span>

                    {{ match[3].name | titlecase }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>

    <ng-template #smallMatch>
      <div id="matchCard" *ngIf="matches">
        <div *ngFor="let match of matches; index as i; trackBy: trackByFn">
          <mat-card style="margin-top: 10px">
            <mat-card-title>Block {{ i + 1 }}</mat-card-title>

            <ul class="list-group">
              <mat-chip-list>
                <mat-list id="matchListItem" role="list">
                  <mat-list-item role="listitem"
                    >{{ match[0].name | titlecase }}

                    <mat-chip color="primary">VS</mat-chip>

                    {{ match[1].name | titlecase }}</mat-list-item
                  >
                </mat-list>
              </mat-chip-list>
            </ul>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </div>
</kendo-pdf-export>
