<div class="mat-elevation-z8"></div>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
	<mat-step [stepControl]="firstFormGroup">
		<form [formGroup]="firstFormGroup">
			<ng-template matStepLabel>Wähle deine Teams aus</ng-template>
			<div fxLayout fxLayoutAlign="center center">
				<button
					style="margin: 10px 0 10px 0"
					mat-stroked-button
					class="hover-color"
					color="accent"
					(click)="onCreate()"
				>
					<mat-icon>add</mat-icon>
					Team Erstellen
				</button>
			</div>
			<div style="margin-bottom: 10px">
				<button mat-stroked-button color="primary" class="hover-color" matStepperNext>Weiter</button>
			</div>
			<input
				type="text"
				style="padding: 8px; margin: 15px auto; width: 30%"
				placeholder="Team suchen..."
				(keyup)="updateFilter($event)"
			/>
			<ngx-datatable
				#table
				style="width: 100%; cursor: pointer"
				class="material"
				[columnMode]="'force'"
				[rows]="teams"
				[headerHeight]="50"
				[footerHeight]="50"
				rowHeight="auto"
				[limit]="7"
				[selected]="selected"
				[selectionType]="'multiClick'"
				[selectAllRowsOnPage]="false"
				[displayCheck]="displayCheck"
				(activate)="onActivate($event)"
				(select)="onSelect($event)"
			>
				<ngx-datatable-column
					[width]="30"
					[sortable]="false"
					[canAutoResize]="false"
					[draggable]="false"
					[resizeable]="false"
					[headerCheckboxable]="true"
					[checkboxable]="true"
				>
					<ng-template
						ngx-datatable-header-template
						let-value="value"
						let-allRowsSelected="allRowsSelected"
						let-selectFn="selectFn"
					>
						<input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Name">
					<ng-template let-value="value" ngx-datatable-cell-template>
						{{ value | titlecase }}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column name="Actions" prop="id">
					<ng-template let-row="actions" let-value="value" ngx-datatable-cell-template>
						<button *ngIf="loggedIn()" mat-icon-button (click)="onEdit(value)">
							<mat-icon>launch</mat-icon>
						</button>

						<button *ngIf="loggedIn()" mat-icon-button color="warn" (click)="onDelete(value)">
							<mat-icon>delete_outline</mat-icon>
						</button>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</form>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup">
		<form [formGroup]="secondFormGroup">
			<ng-template matStepLabel>Wähle ein Datum und Ort</ng-template>
			<mat-form-field>
				<input matInput [matDatepicker]="picker" placeholder="Wähle ein Datum" formControlName="secondCtrl" />
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<br />
			<mat-form-field>
				<mat-label>Paintballfeld</mat-label>
				<mat-select formControlName="thirdCtrl" required>
					<mat-option *ngFor="let field of paintballfield; trackBy: trackByFn" [value]="field?.id">
						{{ field?.name | titlecase }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="button-row">
				<button mat-stroked-button matStepperPrevious>Zurück</button>
				<button mat-stroked-button matStepperNext>Weiter</button>
			</div>
		</form>
	</mat-step>

	<mat-step>
		<form [formGroup]="thirdFormGroup">
			<ng-template matStepLabel>Fertig</ng-template>

			<mat-form-field>
				<mat-label>Anzeigename</mat-label>
				<input matInput maxlength="20" placeholder="Trage Titel für den Clash ein" formControlName="fourthCtrl" />
			</mat-form-field>
			<mat-checkbox
				style="margin: 0 10px"
				[checked]="scheduleToCreate.addClashToAnExistingOne"
				(change)="scheduleToCreate.addClashToAnExistingOne = !scheduleToCreate.addClashToAnExistingOne"
			>
				Hast du bereits ein Spielplan für diesen Tag erstellt?
			</mat-checkbox>
			<p>
				Besteht für den Tag bereits ein Spielplan, dann wähle die Checkbox aus. Sonst wird / werden die bereits
				erstellten Pläne gelöscht!
			</p>

			<div class="button-row">
				<button mat-stroked-button class="primary-color" matStepperPrevious>Zurück</button>
				<button mat-stroked-button color="warn" class="hover-color" (click)="stepper.reset(); this.selected = []">
					Reset
				</button>
				<button
					id="submitBtn"
					mat-stroked-button
					class="hover-color"
					color="accent"
					type="submit"
					(click)="postSchedule(); stepper.reset(); this.selected = []"
				>
					Erstellen
				</button>
			</div>
		</form>
	</mat-step>
</mat-horizontal-stepper>
