<div fxLayout fxLayoutAlign="center center">
  <button style="margin: 10px 0 10px 0" mat-stroked-button color="accent" (click)="onCreate()">
    <mat-icon>add</mat-icon>
    Feld hinzufügen
  </button>

  <mat-form-field style="margin: 10px; float: right" fxFlex="100%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" />
  </mat-form-field>
</div>

<table style="width: 100%" mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name | titlecase }}
    </td>
  </ng-container>

  Action Column
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <button class="hover-color" mat-icon-button color="primary" (click)="expandedDetails(element.id)">
        <mat-icon>info</mat-icon>
      </button>
      <button
        *ngIf="loggedIn()"
        mat-icon-button
        class="hover-color"
        color="primary"
        (click)="onEdit(element.id, element.name)"
      >
        <mat-icon>launch</mat-icon>
      </button>
      <button *ngIf="loggedIn()" mat-icon-button class="primary-color" color="warn" (click)="onDelete(element.id)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
