<form [formGroup]="teamForm" class="normal-form">
	<h1 mat-dialog-title>Hallo {{ data.username | titlecase }}</h1>
	<div mat-dialog-content>
		<p>Wie heißt das neue Team?</p>
		<input type="hidden" formControlName="id" />
		<mat-form-field>
			<input formControlName="name" matInput placeholder="Teamname*" />
			<mat-error>Du musst ein Namen eingeben!</mat-error>
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-stroked-button class="primary-color" (click)="onNoClick()">Abbruch</button>
		<button
			mat-stroked-button
			color="accent"
			class="hover-color"
			type="submit"
			[mat-dialog-close]="data.team.name"
			(click)="create()"
			[disabled]="teamForm.invalid"
		>
			Speichern
		</button>
	</div>
</form>
