@use 'style/bracket-theme' as theme;
@use 'style/variables' as var;

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  color: var.$font-Color !important;
  background-color: theme.$primary !important;
}

main {
  padding: 10px;
}
