<div class="match__selection">
  <mat-form-field appearance="fill">
    <mat-label>Choose a field</mat-label>
    <mat-select>
      <ng-container *ngFor="let field of fields">
        <mat-option (click)="onFieldChange(field)" value="{{ field }}">{{
          field.name | titlecase
          }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <mat-select [disabled]="disableDateSelect">
      <ng-container *ngFor="let item of selectedField?.nameAndDate">
        <ng-container *ngIf="item.guid !== undefined">
          <mat-option (click)="onDateChange(item.guid)" value="{{ item }}"
          >{{ item.date | date }} {{ item.name }}</mat-option
          >
        </ng-container>

      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<ng-container *ngIf="blocks && blocks.length > 0">
  <div class="show__block">
    <ng-container *ngFor="let match of blocks; index as i; trackBy: trackByFn">
      <mat-card class="view__card">
        <mat-card-header>
          <mat-card-title
          ><strong>Block {{ match.blockNumber }}</strong></mat-card-title
          >
        </mat-card-header>
        <ng-container *ngFor="let game of match.games; index as i; trackBy: trackByFn">
          <mat-card-content>
            <p class="card-text mb-auto text-xs-center text-xl-left">
              {{ game | titlecase }}
            </p>
          </mat-card-content>
        </ng-container>
      </mat-card>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="isLoading">
  <app-loading [visible]="isLoading"></app-loading>
</div>
