.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.example-full-width {
  margin: 10px;
}

#parent {
  display: table;
  width: 100%;
}
#form_login {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.example-card {
  max-width: 400px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.example-header-image {
  background-image: url('../../../../assets/images/icons8-info-64.png');
  background-size: cover;
}

.example-tab-icon {
  margin-right: 8px;
}
