<div class='login-wrapper'>
  <div class='container'>
    <mat-card>
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)='register()' [formGroup]='registerForm'>
          <p>
            <mat-form-field appearance='outline'>
              <mat-label>Username</mat-label>
              <input formControlName='username' id='login-username' matInput placeholder='Username' />
              <mat-icon matSuffix>assignment_ind</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance='outline'>
              <mat-label>Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" formControlName='password' matInput placeholder='Password' />
              <button
                (click)='hide = !hide'
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]='hide'
                mat-icon-button
                matSuffix
              >
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </p>

          <div class='button__group'>
            <button [disabled]='registerForm.invalid' color='primary' mat-raised-button type='submit'>Log in</button>
            <button color='accent' mat-raised-button routerLink='/'>Cancel</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div>
  <mat-card class='example-card'>
    <mat-card-header>
      <div class='example-header-image' mat-card-avatar></div>
      <mat-card-title>Benutzerdaten</mat-card-title>
      <mat-card-subtitle>Was wird von mir gespeichert?!</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Kurz und knapp NICHTS. Aktuell werden keine persönlichen Daten wie Name, Geburtsdatum, Adresse oder e-Mail
        Adresse gespeichert. Einfach weil ich keine Lust auf irgendwelchen Ärger seitens DSGVO haben möchte.
      </p>
      <p>
        Die Registrierung ist freiwillig und es werden nur der Nickname - welcher ein erfundender Name sein kann -
        gespeichert. Das Passwort wird per Cryptography HMACSHA512 verschlüsselt, so dass es für niemanden (auch mich
        nicht!) einsehbar ist. Sprich habt ihr euer Passwort vergessen, ist es aktuell nicht möglich dieses
        zurückzusetzen!!!
      </p>
    </mat-card-content>
  </mat-card>
</div>
