<h1>Benutzer hinzufügen</h1>
<div mat-dialog-content>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Benutzername</mat-label>
            <input matInput name="userName" [(ngModel)]="newUser.userName" />
          </mat-form-field>
        </td>
        <br />
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Passwort</mat-label>
            <input matInput name="password" [(ngModel)]="newUser.password" />
          </mat-form-field>
        </td>
        <br />
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Team</mat-label>
            <input matInput name="teamName" [(ngModel)]="newUser.teamName" />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onNoClick()">Abbruch</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="onSave()">
    Speichern
  </button>
</div>
