<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button color="accent" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a id="brand" routerLink="/home"><mat-icon inline="true">bubble_chart</mat-icon> <span>Clash-Planer</span></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a mat-stroked-button color="accent" routerLink="/matches">
          <mat-icon inline="true">format_align_center</mat-icon>
          <span style="padding-left: 4px">Spielpläne</span></a
        >
      </li>
      <li>
        <a mat-stroked-button color="accent" routerLink="/paintballfields"
          ><mat-icon inline="true">my_location</mat-icon> <span style="padding-left: 4px">Paintballfelder</span></a
        >
      </li>
      <li>
        <a mat-stroked-button color="accent" routerLink="/teams"
          ><mat-icon inline="true">group</mat-icon> <span style="padding-left: 4px">Spielplan erstellen</span></a
        >
      </li>
      <li>
        <a mat-stroked-button color="accent" routerLink="/home/faq"
          ><mat-icon inline="true">help</mat-icon> <span style="padding-left: 4px">Hilfe</span></a
        >
      </li>
      <li>
        <a mat-stroked-button color="accent" *appHasRole="['RootAdmin']" routerLink="/users"
          ><mat-icon inline="true">security</mat-icon> <span style="padding-left: 4px">Nutzer</span></a
        >
      </li>
    </ul>

    <a id="logBtn" color="accent" *ngIf="loggedIn()" mat-stroked-button [matMenuTriggerFor]="menu">
      Welcome {{ authService.decodedToken?.unique_name | titlecase }}
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="loggedIn()" mat-menu-item routerLink="/users/user">Edit Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    <a *ngIf="!loggedIn()" mat-stroked-button color="accent" [matMenuTriggerFor]="loginArea" style="margin-right: 10px">
      Einloggen
    </a>
    <mat-menu #loginArea="matMenu">
      <form
        *ngIf="!loggedIn()"
        #loginForm="ngForm"
        class="form-inline my-2 my-lg-0"
        (keydown.tab)="$event.stopPropagation()"
        (ngSubmit)="login()"
        (click)="stopPropagation($event)"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            class="form-control"
            required
            name="username"
            placeholder="Username"
            [(ngModel)]="model.username"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            name="password"
            placeholder="Password"
            required
            [(ngModel)]="model.password"
          />
        </mat-form-field>
        <div>
          <button
            mat-stroked-button
            color="accent"
            style="margin-left: 5px"
            [disabled]="!loginForm.valid"
            type="submit"
          >
            Login
          </button>
        </div>
      </form>
    </mat-menu>
  </div>
</mat-toolbar>
